<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="_timerLimit" value="3"/>  <!-- In Minutes-->
    <add key="Path" value="C:\\Users\\Bilal\\Documents\\GitHub\\ASP.NET Work\\Assignment 2\\K163636_Q1\\Users_Data\\PatientDetails_"/>
    <add key="PathToSaveData" value="G:\\Users"/>
  </appSettings>
</configuration>